<!-- start banner Area -->
<section class="relative about-banner">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Výlety
                </h1>
                <p class="text-white link-nav"><a href="@Url.Action("Index", "Home")">Domů </a>  <span class="lnr lnr-arrow-right"></span>  <a href="@Url.Action("Trips", "Trip")""> Výlety</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<section>
    <div class="text-center">
        <a class="btn btn-warning circle LoginButton" href="#">Přidat vlastní příspěvek</a>
    </div>


</section>

<!-- Start of a Login button (if the user is not logged in)

<section id="ButtonSection" style="text-align: center;">

</section>

<-- End of Login Button section -->

<section class="mb-10">
    <div class="container">
        <div class="row">
            <!-- Offers Grid -->
            <div class="col-lg-11" style="margin-bottom:80px;">

                <!-- Offers Sorting --> @*This is gonna be in new version, where this is gonna be needed*@

                @*<div class="offers_sorting_container">
                    <ul class="offers_sorting">
                        <li>
                            <span class="sorting_t
                                  ext">cena</span>
                            <i class="fa fa-chevron-down"></i>
                            <ul>
                                <li class="sort_btn" data-isotope-option='{ "sortBy": "original-order" }' data-parent=".price_sorting"><span>show all</span></li>
                                <li class="sort_btn" data-isotope-option='{ "sortBy": "price" }' data-parent=".price_sorting"><span>ascending</span></li>
                            </ul>
                        </li>
                        <li>
                            <span class="sorting_text">lokace</span>
                            <i class="fa fa-chevron-down"></i>
                            <ul>
                                <li class="sort_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>default</span></li>
                                <li class="sort_btn" data-isotope-option='{ "sortBy": "name" }'><span>alphabetical</span></li>
                            </ul>
                        </li>
                        <li>
                            <span class="sorting_text">hodnocení</span>
                            <i class="fa fa-chevron-down"></i>
                            <ul>
                                <li class="filter_btn" data-filter="*"><span>show all</span></li>
                                <li class="sort_btn" data-isotope-option='{ "sortBy": "stars" }'><span>ascending</span></li>
                                <li class="filter_btn" data-filter=".rating_3"><span>3</span></li>
                                <li class="filter_btn" data-filter=".rating_4"><span>4</span></li>
                                <li class="filter_btn" data-filter=".rating_5"><span>5</span></li>
                            </ul>
                        </li>
                        <li class="distance_item">
                            <span class="sorting_text">počet dní</span>
                            <i class="fa fa-chevron-down"></i>
                            <ul>
                                <li class="num_sorting_btn"><span>distance</span></li>
                                <li class="num_sorting_btn"><span>distance</span></li>
                                <li class="num_sorting_btn"><span>distance</span></li>
                            </ul>
                        </li>
                        <li>
                            <span class="sorting_text">datum</span>
                            <i class="fa fa-chevron-down"></i>
                            <ul>
                                <li class="num_sorting_btn"><span>review</span></li>
                                <li class="num_sorting_btn"><span>review</span></li>
                                <li class="num_sorting_btn"><span>review</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>*@

            </div>

            
            <div class="col-lg-11 mt-20">
                <!-- Offers Item -->

                <div class="offers_item rating_4 mb-20">
                    <div class="row">
                        <div class="col-lg-3 col-1680-4">
                            <div class="offers_image_container">
                                <div class="offers_image_background" style="background-image:url('@Url.Content("/img/Krkonose.jpg")'); max-height: 292px;"></div>
                                <div class="offer_name text-md-center"><a href="single_listing.html">VÍCE ZDE</a></div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="offers_content">
                                <div class="offers_price">Chata v Krkonoších</div>
                                <div class="rating_r rating_r_3 offers_rating" data-rating="3">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                                <p class="offers_text">Dobrý den, mé jméno je Milada Dvořáková a sháním náhradníka na 5 dní pro tuto nádhernou chatu v Krkonoších</p>
                                <div class="offers_icons mb-15">
                                    <ul class="">
                                        <li>Autor: <b style="color: black">Milada Dvořáková</b></li>
                                        <li>tel. číslo: <b style="color: black">+420 773 493 616</b></li>
                                        <li>Datum: <b style="color: black">12.3. 2018 - 17.3. 2018</b></li>
                                        <li>Lokace: <b style="color: black">Krkonoše, škraloupy</b></li>
                                    </ul>
                                </div>
                                <div class="button book_button"><a href="#">Odkoupit<span></span><span></span><span></span></a></div>
                                <div class="offer_reviews">
                                    <div class="offer_reviews_content">
                                        <div class="offer_reviews_title">Cena</div>
                                        <div class="offer_reviews_subtitle">5 dní</div>
                                    </div>
                                    <div class="offer_reviews_rating text-center">33 600,-</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="offers_item rating_5">
                    <div class="row">
                        <div class="col-lg-3 col-1680-4">
                            <div class="offers_image_container">
                                <div class="offers_image_background" style="background-image:url('@Url.Content("/img/Alps.jpg")'); max-height: 292px;"></div>
                                <div class="offer_name text-md-center"><a href="single_listing.html">VÍCE ZDE</a></div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="offers_content">
                                <div class="offers_price">Chata v Alpách</div>
                                <div class="rating_r rating_r_5 offers_rating" data-rating="5">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </div>
                                <p class="offers_text">Dobrý den, mé jméno je Dan Skořápka a sháním náhradníka na 8 dní pro tuto nádhernou chatu v Alpách</p>
                                <div class="offers_icons mb-15">
                                    <ul class="">
                                        <li>Autor: <b style="color: black">Daniel Skořápka</b></li>
                                        <li>tel. číslo: <b style="color: black">+420 773 486 958</b></li>
                                        <li>Datum: <b style="color: black">5.1. 2018 - 13.1. 2018</b></li>
                                        <li>Lokace: <b style="color: black">Alpy, Chata "Pod Sněhem"</b></li>
                                    </ul>
                                </div>
                                <div class="button book_button"><a href="#">Odkoupit<span></span><span></span><span></span></a></div>
                                <div class="offer_reviews">
                                    <div class="offer_reviews_content">
                                        <div class="offer_reviews_title">Cena</div>
                                        <div class="offer_reviews_subtitle">8 dní</div>
                                    </div>
                                    <div class="offer_reviews_rating text-center">50 600,-</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
</section>
