@using Microsoft.AspNetCore.Identity
@using Project_Burza.Data;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (Context.Request.Path.Value == Url.Action("Index", "Account"))
    {
        <li class="btn btn-warning circle Login"> <a href="@Url.Action("LogOutUserAsync", "Login")">Odhlásit se</a></li>
    }
    else
    {
        <li class="btn btn-warning circle Login"> <a href="@Url.Action("Index", "Account")">Spravovat Účet</a></li>

    }

}
else
{
    <li class="btn btn-warning circle Login"> <a href="@Url.Action("Login", "Login")">Přihlásit se</a></li>
}