<!-- start banner Area -->
<section class="relative about-banner">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Přihlásit se
                </h1>
                <p class="text-white link-nav"><a href="@Url.Action("Index", "Home")">Domů </a>  <span class="lnr lnr-arrow-right"></span>  <a href="@Url.Action("LawSecurity", "Home")" "> Přihlásit se</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<section class="price-area">
    <div class="site-section price-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6 mb-5 m-auto mt-md-3">
                    <form action="@Url.Action("Account", "Login")" class="p-5 mb-20 bg-white">
                        <h2 class="mb-4 text-black">Přihlásit se</h2>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="font-weight-bold" for="email2">Email</label>
                                <input type="email" id="email2" class="form-control rounded-0">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="font-weight-bold" for="password">Heslo</label>
                                <input type="password" id="password" class="form-control rounded-0">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="font-weight-normal" for="remember">
                                    <input type="checkbox" id="remember">
                                    Zapamatovat
                                </label>
                            </div>
                        </div>

                        <div class="row form-group mb-2">
                            <div class="col-md-12">
                                <p>Nemáš založený účet? <a href="@Url.Action("Register", "Login")">Zaregistrovat</a>.
                                <br />Zapomněl/a jsi heslo? <a href="#">Klikni zde</a></p>

                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <input  type="submit" value="Login" class="btn btn-primary  py-2 px-4 rounded-0">
                            </div>
                        </div>


                    </form>
                </div>


            </div>
        </div>
    </div>
</section>