<!-- start banner Area -->
<section class="relative about-banner">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Kontaktuj nás
                </h1>
                <p class="text-white link-nav"><a href="index.html">Domů </a>  <span class="lnr lnr-arrow-right"></span>  <a href="contact.html"> Kontakt</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<section class="contact-page-area section-gap">
    <div class="container">
        <div class="">
            <div class="text-center">
                <h3 class="mb-5">Tvůj e-mail byl úspěšně odeslán. Nyní se můžeš vrátít na hlavní stránku!</h3>
                <a href="@Url.Action("Index", "Home")" class="genric-btn primary circle medium">Hlavní stránka</a>
            </div>
            
        </div>
    </div>
</section>