<!-- start banner Area -->
<section class="relative about-banner">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Právní ochrana
                </h1>
                <p class="text-white link-nav"><a href="@Url.Action("Index", "Home")">Domů </a>  <span class="lnr lnr-arrow-right"></span>  <a href="@Url.Action("LawSecurity", "Home")" "> Právní ochrana</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- Start insurence-one Area -->
<section class="insurence-one-area section-gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 insurence-left">
                <img class="img-one" src="/img/Advokatni_uschova.jpg" alt="">
            </div>
            <div class="col-lg-6 insurence-right">
                <h6 class="text-uppercase">Toto potřebuješ znát</h6>
                <h1>Pojištění STORNA</h1>
                <p>
                    Určitě jsi o tom již slyšel/a! Že ne ? Pojištění STORNA ti dokáže pomoci zachránit hromadu peněz. Pojištění STORNA si zaplatíš u poskytovatele (cestovní kancelář) a uplatníš to ve chvíli, v jaké se teď momentálně nacházíš (z jakého-koliv důvodu nemůžeš odjet na dovolenou). Cestovní kancelář ti poté vrátí 80% vložené části do výletu a 20% si nechá pro sebe.
                </p>
                <div class="list-wrap">
                    <ul>
                        <li>
                            <a href="https://www.ervpojistovna.cz/cs/pojisteni-storna-zajezdu">https://www.ervpojistovna.cz/cs/pojisteni-storna-zajezdu</a>
                        </li>
                        <li>
                            <a href="https://www.aktualne.cz/wiki/finance/pojisteni-storna-zajezdu/r~i:wiki:3194/?redirected=1546909776">https://www.aktualne.cz/wiki/finance/pojisteni-storna-zajezdu</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End insurence-one Area -->
<!-- Start insurence-two Area -->
<section class="insurence-two-area pb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 insurence-left">
                <h6 class="text-uppercase">Toto potřebuješ znát</h6>
                <h1>Pojištění HOLIDEX</h1>
                <p>
                    Aplikace holidex s přehledem nahradí pojištění STORNA. Nejenže, když využiješ našich služeb, máš možnost zadat inzerát pro výměnu účastníků zájezdu, ale také když se povede úspěšně najít náhradníky, nedostaneš zpátky 20%, ani 80% ale 100%. Ano opravdu 100% veškerých nákladů již do zájezdu vložených.
                </p>
                <div class="list-wrap">
                    <ul>
                        <li>ZDARMA</li>
                        <li>100% vrácená částka <i>(když se povede nahradit)</i></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 insurence-right">
                <img class="img-two" src="/img/Storno.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End insurence-two Area -->
