<!-- start banner Area -->
<section class="relative about-banner">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Návod
                </h1>
                <p class="text-white link-nav"><a href="@Url.Action("Index","Home")">Domů </a>  <span class="lnr lnr-arrow-right"></span>  <a href="@Url.Action("Tutorial","Home")"> Návod</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<section class="contact-page-area section-gap">
<div class="container">
<div></div>
</div>
</section>