@import url("mystyle.css");
.Login {
    padding: 0px 10px;
    margin: 0px 0px 0px 50px;
    word-wrap: normal;
    display: inline-block;
}

.TutorialDiv {
    border: black;
}

#mobile-nav .Login {
    padding: 0px 10px;
    margin: 20px 0px 0px 50px;
    word-wrap: normal;
    display: inline-block;
}

.hlavni-sekce {
    padding: 90px 0px 0px 0px;
}

.main-section.team {
    padding: 85px 0;
}

.main-section.team h6 {
    margin-bottom: 40px;
}

/* Team
---------------------------------*/
.team-leader-block {
    max-width: 993px;
    margin: 0 auto;
}

.team-leader-box {
    width: 30.66%;
    margin-right: 3.82979%;
    height: 490px;
    overflow: hidden;
    text-align: center;
    float: left;
}

.team-leader-box span {
    margin-bottom: 24px;
    display: block;
}

.team-leader-box:nth-of-type(3n + 0) {
    margin: 0;
}

.team-leader {
    width: auto;
    height: auto;
    position: relative;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 7px rgba(241, 241, 241, 0.8);
    margin: 7px 7px 25px 7px;
}

.team-leader-shadow {
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 50%;
}

.team-leader-shadow a {
    display: block;
    width: 100%;
    height: 100%;
}

.team-leader:hover .team-leader-shadow {
    box-shadow: inset 0px 0px 0px 148px rgba(17, 17, 17, 0.8);
}

.team-leader:hover ul {
    display: block;
    opacity: 1;
}

.team-leader img {
    display: block;
    border-radius: 50%;
}

.team-leader ul {
    display: block;
    opacity: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -14px;
    z-index: 15;
    transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
}

.team-leader ul li {
    display: inline;
    margin: 0 11px;
}

.team-leader ul li a {
    font-family: "FontAwesome";
    display: inline-block;
    font-size: 28px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.team-leader ul li a:hover,
.team-leader ul li a:focus {
    text-decoration: none;
}

.team-leader ul li a.fa-twitter:hover {
    color: #55acee;
}

.team-leader ul li a.fa-facebook:hover {
    color: #3b5998;
}

.team-leader ul li a.fa-pinterest:hover {
    color: #cb2026;
}

.team-leader ul li a.fa-google-plus:hover {
    color: #dd4b39;
}

/*--------------Trip style section------------------*/
.buttonOffer a {
    display: block;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 53px;
    padding-left: 46px;
    padding-right: 46px;
    white-space: nowrap;
    z-index: 2;
}
.book_button {
    background: #31124b;
    margin-top: 0px;
    margin-bottom: -5px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.book_button:hover {
    opacity: 0.8;
}

.offers_grid {
    width: 100%;
    margin-top: 66px;
}

.offers_item {
    width: 100%;
    margin-bottom: 60px;
}

.offers_item:last-child {
    margin-bottom: 0px;
}

.offers_image img {
    width: 100%;
}

.offers_image_container {
    width: 100%;
    height: 100%;
}

.offers_image_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.offer_name {
    position: absolute;
    left: 0;
    bottom: 20%;
    width: 180px;
    height: 33px;
    background: #fa9e1b;
    overflow: hidden;
}

.offer_name a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 35px;
    padding-left: 22px;
}

.offers_content {
}

.offers_price {
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    color: #eda84a;
    line-height: 25px;
}

.offers_price span {
    font-size: 14px;
    font-weight: 400;
    color: #929191;
    margin-left: 12px;
}

.LoginButton {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.offers_rating i::before {
    font-size: 13px;
    margin-right: 2px;
}

.offers_text {
    font-size: 14px;
    font-weight: 400;
    color: #929191;
    margin-top: 16px;
    margin-bottom: 0px;
}

.offers_icons {
    margin-top: 21px;
}

.offers_icons_item {
    display: inline-block;
    margin-right: 15px;
}

.offers_icons_item:last-child {
    margin-right: 0px;
}

.button {
    display: inline-block;
    height: 53px;
    border-radius: 27px;
    overflow: hidden;
    z-index: 1;
}

.button_bcg {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(to right, #fa9e1b, #8d4fff, #fa9e1b);
    z-index: -1;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.button:hover .button_bcg {
    left: -100%;
}

.button a {
    display: block;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 53px;
    padding-left: 46px;
    padding-right: 46px;
    white-space: nowrap;
    z-index: 2;
}

.button span {
    display: inline-block;
    vertical-align: middle;
    width: 5.75px;
    height: 5.63px;
    background: #ffffff;
    border-radius: 50%;
    margin-right: 2px;
}

.button span:first-child {
    margin-left: 10px;
}

.button span:nth-child(2) {
    opacity: 0.6;
}

.button span:last-child {
    opacity: 0.4;
    margin-right: 0px;
}

.offer_reviews {
    position: absolute;
    top: 0;
    right: 0;
}

.offer_reviews_content {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}

.offer_reviews_title {
    font-size: 12px;
    font-weight: 700;
    color: #2d2c2c;
    text-transform: uppercase;
}

.offer_reviews_subtitle {
    font-size: 12px;
    font-weight: 600;
    color: #929191;
    margin-top: 1px;
}

.offer_reviews_rating {
    display: inline-block;
    width: 176px;
    height: 57px;
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
    line-height: 57px;
    background: #fa9e1b;
    vertical-align: middle;
    border-radius: 70%;
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px);
}

.rating {
    margin-top: 10px;
}

.rating i {
    font-size: 19px;
    margin-right: 4px;
}

.rating i:last-child {
    margin-right: 0px;
}

.rating_1 i:first-child {
    color: #ffeb8d;
}

.rating_2 i:first-child {
    color: #ffeb8d;
}

.rating_2 i:nth-child(2) {
    color: #fed46b;
}

.rating_3 i:first-child {
    color: #ffeb8d;
}

.rating_3 i:nth-child(2) {
    color: #fed46b;
}

.rating_3 i:nth-child(3) {
    color: #fbb53d;
}

.rating_4 i:first-child {
    color: #ffeb8d;
}

.rating_4 i:nth-child(2) {
    color: #fed46b;
}

.rating_4 i:nth-child(3) {
    color: #fbb53d;
}

.rating_4 i:nth-child(4) {
    color: #fa9e1b;
}

.rating_5 i:first-child {
    color: #ffeb8d;
}

.rating_5 i:nth-child(2) {
    color: #fed46b;
}

.rating_5 i:nth-child(3) {
    color: #fbb53d;
}

.rating_5 i:nth-child(4) {
    color: #fa9e1b;
}

.rating_r i::before {
    font-family: "FontAwesome";
    content: "\f006";
    font-style: normal;
    font-size: 19px;
    margin-right: 4px;
}

.rating_r_1 i:first-child::before {
    color: #ffeb8d;
    content: "\f005";
}

.rating_r_2 i:first-child::before {
    color: #ffeb8d;
    content: "\f005";
}

.rating_r_2 i:nth-child(2)::before {
    color: #fed46b;
    content: "\f005";
}

.rating_r_3 i:first-child::before {
    color: #ffeb8d;
    content: "\f005";
}

.rating_r_3 i:nth-child(2)::before {
    color: #fed46b;
    content: "\f005";
}

.rating_r_3 i:nth-child(3)::before {
    color: #fbb53d;
    content: "\f005";
}

.rating_r_4 i:first-child::before {
    color: #ffeb8d;
    content: "\f005";
}

.rating_r_4 i:nth-child(2)::before {
    color: #fed46b;
    content: "\f005";
}

.rating_r_4 i:nth-child(3)::before {
    color: #fbb53d;
    content: "\f005";
}

.rating_r_4 i:nth-child(4)::before {
    color: #fa9e1b;
    content: "\f005";
}

.rating_r_5 i:first-child::before {
    color: #ffeb8d;
    content: "\f005";
}

.rating_r_5 i:nth-child(2)::before {
    color: #fed46b;
    content: "\f005";
}

.rating_r_5 i:nth-child(3)::before {
    color: #fbb53d;
    content: "\f005";
}

.rating_r_5 i:nth-child(4)::before {
    color: #fa9e1b;
    content: "\f005";
}

.rating_r_5 i:nth-child(5)::before {
    color: #ef910a;
    content: "\f005";
}

@media only screen and (max-width: 1730px) {
    .temp_col {
        display: none !important;
    }

    .col-1680-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .offers {
        padding-top: 0px;
    }

    .search {
        position: relative;
        width: 100%;
        height: auto;
        background: linear-gradient(to right, #fa9e1b, #8d4fff);
        z-index: 10;
    }

    .search_inner {
        width: 100%;
        height: 100%;
    }

    .no-padding {
        padding-left: 15px;
        padding-right: 15px;
    }

    .no-margin {
        margin-left: -15px;
        margin-right: -15px;
    }

    .search_tabs_container {
        position: absolute;
        bottom: 100%;
        left: 15px;
        width: calc(100% - 30px);
    }

    .search_tabs {
        flex-wrap: nowrap;
        height: 94px;
    }

    .search_tab {
        font-size: 14px;
        font-weight: 700;
        color: #2d2c2c;
        text-transform: uppercase;
        text-align: center;
        height: 100%;
        flex-grow: 1;
        background: #ffffff;
        cursor: pointer;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

    .search_tab:not(:first-child):not(:nth-child(2)) {
        border: none;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .search_tab:nth-child(2) {
        border-top-right-radius: 0px;
        padding-right: 0px;
    }

    .search_tab:last-child {
        border-top-right-radius: 94px;
        padding-right: 7px;
    }

    .search_panel {
        display: none !important;
        width: 100%;
        height: 100%;
        -webkit-animation: fadeEffect 1s;
        animation: fadeEffect 1s;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 0px;
        padding-top: 57px;
        padding-bottom: 72px;
    }

    .search_item {
        margin-bottom: 0px;
    }

    .search_item:first-child {
        width: 37%;
    }

    .search_item:nth-child(2) {
        width: 16%;
    }

    .search_item:nth-child(3) {
        width: 16%;
    }

    .search_item:nth-child(4) {
        width: 9.947%;
        margin-right: 0px;
    }

    .search_item:nth-child(5) {
        width: 9.947%;
    }

    .search_extras_item {
        width: 20%;
    }

    .search_extras_item:nth-child(even) {
        padding-left: 0px;
    }

    .more_options {
        width: 100%;
        margin-top: 28px;
    }

    .search_button {
        margin-top: 29px;
    }

    .offers_sorting_container {
        margin-top: 105px;
    }
}

.offers_sorting {
    display: inline-block;
}

.offers_sorting > li {
    display: inline-block;
    position: relative;
    width: 166px;
    height: 50px;
    font-size: 12px;
    font-weight: 700;
    color: #2d2c2c;
    text-transform: uppercase;
    line-height: 50px;
    cursor: pointer;
    border: solid 2px #dadada;
    padding-left: 25px;
    padding-right: 14px;
    margin-right: 16px;
}

.distance_item {
    width: 234px !important;
}

.offers_sorting li i {
    float: right;
    line-height: 48px;
    color: #929191;
}

.offers_sorting li ul {
    display: block;
    position: absolute;
    right: 0;
    top: 120%;
    margin: 0;
    width: 100%;
    background: #ffffff;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}

.offers_sorting > li:hover ul {
    visibility: visible;
    opacity: 1;
    top: calc(100% + 1px);
}

.offers_sorting li ul li {
    display: block;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

.offers_sorting li ul li span {
    display: block;
    height: 40px;
    line-height: 40px;
    border-bottom: solid 1px #dddddd;
    color: #51545f;
    text-align: left;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
}

.offers_sorting li ul li span:hover {
    color: #b5aec4;
}

.offers_sorting li ul li:last-child span {
    border-bottom: none;
}

.offers_sorting li span:nth-child(2) {
    margin-left: 71px;
}

@media only screen and (max-width: 1199px) {
    .main_nav_container {
        margin-right: 121px;
    }

    .offers_sorting > li {
        margin-bottom: 17px;
    }

    .footer_blog_content {
        padding-left: 74px;
    }
}
@media only screen and (max-width: 991px) {
    .main_nav_container {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .offers {
        padding-bottom: 105px;
    }

    .search {
        height: auto;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .search_tabs_container {
        position: relative;
        bottom: auto;
        left: auto;
        width: auto;
        top: auto;
    }

    .search_tabs {
        height: auto;
    }

    .search_tab {
        height: 62px;
        width: 100%;
        padding-left: 15px;
    }

    .search_tab:first-child {
        border-top-left-radius: 0px;
        padding-left: 15px;
    }

    .search_tab:last-child {
        border-top-right-radius: 0px;
    }

    .search_panel {
        display: none !important;
        margin-top: 0px;
        padding-bottom: 0px;
    }

    .search_panel.active {
        display: flex !important;
    }

    .search_item {
        width: 100% !important;
        margin-bottom: 23px;
    }

    .search_item:last-child {
        margin-bottom: 0px;
    }

    .col-1680-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .offers_image_container {
        width: 100%;
        height: 443px;
        margin-bottom: 38px;
    }

    .offers_image_background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .footer_column {
        margin-bottom: 60px;
    }

    .footer_column:last-child {
        margin-bottom: 0px;
    }

    .copyright {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .copyright_content {
        height: auto;
        margin-top: 15px;
    }

    .footer_nav_container {
        height: auto;
    }

    .footer_nav_item {
        display: block;
    }
}

/************
7. 959px
************/

@media only screen and (max-width: 959px) {
}

/************
8. 880px
************/

@media only screen and (max-width: 880px) {
}

/************
9. 768px
************/

@media only screen and (max-width: 768px) {
}

/************
10. 767px
************/

@media only screen and (max-width: 767px) {
    .search_extras_item {
        width: 50%;
    }

    .offers_image_container {
        height: 327px;
    }

    .home_title {
        font-size: 48px;
    }
}

/************
11. 575px
************/

@media only screen and (max-width: 575px) {
    p {
        font-size: 13px;
    }

    h1 {
        font-size: 28px;
    }

    .top_bar {
        display: none;
    }

    .button {
        height: 44px;
        border-radius: 22px;
    }

    .button a {
        line-height: 44px;
        padding-left: 36px;
        padding-right: 36px;
    }

    .logo a img {
        width: 24px;
    }

    .logo a {
        font-size: 24px;
    }

    .main_nav_col {
        height: 60px;
    }

    .header.scrolled .main_nav_col {
        height: 60px;
    }

    .logo_container {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .content_search {
        -webkit-transform: translateY(2px);
        -moz-transform: translateY(2px);
        -ms-transform: translateY(2px);
        -o-transform: translateY(2px);
        transform: translateY(2px);
    }

    .header.scrolled .content_search {
        -webkit-transform: translateY(2px);
        -moz-transform: translateY(2px);
        -ms-transform: translateY(2px);
        -o-transform: translateY(2px);
        transform: translateY(2px);
    }

    .hamburger {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .logo a {
        font-size: 16px;
    }

    .logo a img {
        width: 16px;
        margin-right: 7px;
    }

    .hamburger i {
        font-size: 18px;
    }

    .content_search svg {
        width: 15px;
        height: 15px;
    }

    .menu_close_container {
        top: 15px;
        right: 28px;
    }

    .menu_logo {
        margin-bottom: 17px;
    }

    .menu_logo a img {
        width: 28px !important;
    }

    .menu_item a {
        font-size: 24px;
    }

    .section_title {
        font-size: 21px;
    }

    .home {
        width: 100%;
        height: 375px;
        background: transparent;
    }

    .home_title {
        font-size: 24px;
    }

    .offers_image_container {
        height: calc((100vw - 30px) / 0.97);
    }

    .offers_price {
        font-size: 30px;
    }

    .offers_price span {
        font-size: 12px;
        margin-left: 7px;
    }

    .offer_reviews_rating {
        width: 56px;
        height: 47px;
        font-size: 24px;
        line-height: 47px;
    }

    .offer_reviews_title {
        font-size: 11px;
    }

    .offer_reviews_subtitle {
        font-size: 11px;
    }

    .offers_text {
        font-size: 13px;
    }

    .footer_about_text {
        font-size: 13px;
    }
}

/************
11. 539px
************/

@media only screen and (max-width: 539px) {
}

/************
12. 480px
************/

@media only screen and (max-width: 480px) {
}

/************
13. 479px
************/

@media only screen and (max-width: 479px) {
    h2 {
        font-size: 24px;
    }

    p {
        font-size: 13px;
    }
}

/************
14. 400px
************/

@media only screen and (max-width: 400px) {
}




    /*----------------------------------------*/
/*  3.  Main Menu CSS
/*----------------------------------------*/
.nav-tabs.notika-menu-wrap{
	border-bottom: 0px solid #ddd;
}
.nav-tabs.notika-menu-wrap>li.active>a, .nav-tabs.notika-menu-wrap>li.active>a:focus, .nav-tabs.notika-menu-wrap>li.active>a:hover{
	border: 0px solid #ddd;
	border:none;
}
.notika-tab-menu-bg{
	position:relative;
}
.notika-tab-menu-bg:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #fff;
    content: "";
    z-index: 9;
    height: 100%;
}
.custom-menu-content ul.notika-main-menu-dropdown {
    position: relative;
    z-index: 99;
}
ul.notika-menu-wrap li a{
	font-size: 15px;
    color: #333;
    padding: 15px 25px;
	border:none;
}
.custom-menu-content ul.notika-main-menu-dropdown li{
	display:inline-block;
}
.custom-menu-content ul.notika-main-menu-dropdown li a {
    padding: 20px 20px;
    display: block;
	font-size:14px;
	color:#333;
}
.custom-menu-content ul.notika-main-menu-dropdown li ul.layout-more-dp{
	position: absolute;
    z-index: 999;
    width: 200px;
    left: -20px;
    border: none;
    border-radius: 0px;
}
.custom-menu-content ul.notika-main-menu-dropdown li ul.layout-more-dp li a{
	font-size: 14px;
    color: #333;
    padding: 10px 20px;
}
.animated{
	-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-fill-mode:none!important;
	animation-fill-mode:none!important
}
.mg-t-80-b-40{
	margin:102px 0px 40px 0px;
}
.mean-container .mean-nav ul li a {
    color: #333;
}
.mean-container .mean-nav ul li a:hover {
    color: #00c292;
}
.box-layout .header-top-area {
		width: 1200px;
}
.wb-traffic-inner{
	padding:20px;
	background:#fff;
	display:flex;
}
.website-traffic-ctn h2, .curved-ctn h2, .past-day-statis h2, .email-ctn-round h2, .recent-post-title h2, .recent-items-title h2, .realtime-title h2, .contact-hd h2, .animation-ctn-hd h2, .alert-hd h2, .color-hd h2, .tab-hd h2, .wizard-hd h2, .dropdown-trig-hd h2, .modals-hd h2, .accordion-hd h2, .tooltips-hd h2, .popovers-hd h2, .typography-list h2, .typography-heading h2, .typography-in-hd h2, .tpgp-hp-hd h2, .view-mail-hrd h2, .multiupload-sys h2, .basic-tb-hd h2{
	font-size:20px;
	color:#333;
}
.website-traffic-ctn p, .curved-ctn p, .recent-post-title p, .recent-post-it-ctn p, .view-ml-rl p, .mail-ads p, .multiupload-sys p{
	font-size:14px;
	color:#333;
	margin:0;
}
.sparkline-bar-stats1, .sparkline-bar-stats2, .sparkline-bar-stats3, .sparkline-bar-stats4{
	margin-left: auto;
	margin-top:10px;
}